@import "tailwindcss";

@layer base {
  body {
    margin: 0;
    background-color: #030712;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #111827;
  }
  ::-webkit-scrollbar-thumb {
    background: #374151;
    border-radius: 9999px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #4b5563;
  }
}
